*.alloy filter=lfs diff=lfs merge=lfs -text
*.vasprun.xml filter=lfs diff=lfs merge=lfs -text
*.in filter=lfs diff=lfs merge=lfs -text
POSCAR filter=lfs diff=lfs merge=lfs -text
*.out filter=lfs diff=lfs merge=lfs -text
OUTCAR filter=lfs diff=lfs merge=lfs -text
